body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}
  
.header-container {
  background-image: linear-gradient(to bottom, rgba(184, 237, 252, 0.712), rgba(143, 209, 239, 0.678));
  padding: 10px 0 100px 0;
  font-family: Roboto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.header-details {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0  0 0 50px;
}

.header-right h1 {
  font-size: 23px;
  font-weight: 800;
  margin: 0;
  color: #26358e;
}

.header-right p {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  color: #26358e;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin: 0 50px 0 0;
}

.header-left h1 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  color: #26358e;
}

.header-left div {
  display: flex;
  justify-content: center;
  padding: 1px;
}

.account-icon {
  width: 40px;
}

.logout-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  font-size: 15px;
  font-weight: 600;
  width: 116px;
  height: 40px;
  padding: 8px 15px;
  border: none;
  border-radius: 0 10px 10px 0px;
  background-color: #26358e;
  color: white;
}

.logout-button img {
  width: 27px;
}
